textarea {
    min-height: 400px;
}

.email {
    display: block;
    padding: 4px 4px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.highlight {
    color:darkgray;
}

.read {
    background-color:rgb(236, 235, 235);
}