html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.top-right{
    align-self: flex-end;
    margin-bottom: 10px;
}

.top-right > a {
    margin-right: 10px;
}

.top-right > a:hover {
    color: rgb(38, 38, 245);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

header {
    font-size: 50px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-box {
    max-width: 500px;
    width: 100%;
    margin-bottom: 15px;
}

.search-box > input[type="text"] {
    width: 90%;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #ccc; 
}

.search-box > input[type = "text"]:hover {
    background-color: #f1f1f1;
}

.buttons > input[ type = "submit"]{
    margin-right: 15px;
}